footer{
    margin: 0 0 -20px 10px;
   
}

footer ul li{
    margin: 10px 10px 0px 5px;
}

.logos{
    width: 30px;
}

h3{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: -27px;
    margin-left: 35px;
    text-transform: uppercase;
    color: #fff;
}


