/* Componente */
@import url(./header.css);
@import url(./buttons.css);
@import url(./main.css);
@import url(./footer.css);

/* Fonte */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Roboto+Condensed:wght@300;700&display=swap');




/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    list-style: none;
}

.container {
    width: 1024px;
    margin: 0px auto 30px ;
    display: flex;
    flex-direction: column;
    
}

.row{
    display: flex;
    flex-direction: row;
}