header section {
    margin: 0px auto 30px;
    justify-content: space-between;
    align-items: center;
    
}

#logopks {
    width: 10%;
}

header nav ul {
    display: flex;
    flex-direction: row;   
    align-items: center;
    
}

header nav ul li {
    margin: 0 15px;
    text-transform: capitalize;
}

header nav ul li a {
    color: #fff;
    margin: 0 15px;
}

@keyframes degrade {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
