@media(max-width: 1150px) {
    .container {
        width: 900px;
    }

    .eu {
        width: 500px;
        height: 500px;
    }

}

@media(max-width: 1024px) {
    .container {
        width: 800px;
    }

    .eu {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 915px) {
    .container {
        width: 700px;
    }

    .row {
        flex-direction: column;
    }

    .eu {
        width: 400px;
        height: 400px;
        margin: 40px 0 40px 50px;
        border-radius: 10px;
    }

    header nav{
        margin: 0px 0;
    }

    .resp{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: -60px 0;
    }

    .sobre-mim article{
        width: 100% !important;
    }
    
    .sobre-mim article h1{
        font-size: 60px !important;
    }

    .sobre-mim article h2{
        font-size: 24px !important;
    }


    
}

@media(max-width: 700px) {
    .container {
        width: 500px;
    }

    .eu {
        width: 400px;
        height: 400px;
    }
}

@media(max-width: 550px) {
    .container {
        width: 400px;
    }

    .eu {
        width: 400px;
        height: 400px;
    }
}

@media(min-width: 1240px) {
    .container{
        width: 1280px;
        margin: 0 50px 0 50px;
    }

    .eu{
        margin: 0 50px 0 0;
    }
}

@media(min-width:1330px) {
    .container{
        width: 1366px;

    }
}

@media(min-width:1420px) {
    .container{
        width: 1560px;
        margin: 0 50px;
    }

    .sobre-mim {
        width: 1460px;
        margin: 0px 50px 50px 200px ;
        padding: 10px 0 0 0;
        border-radius: 20px;
        
    }

    .eu{
        width: 500px;
        height: 500px;
        margin: 0 300px 0 0 ;
       
    }
}